body{
    
    /* font-family: 'Amita', cursive; */
    font-family: 'Comic Neue', cursive;
   
    margin: 0%;
    
}

 #navbar ul { 
	margin: 0%; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-image: linear-gradient(to right,skyblue,cyan);
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: black;
	
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-image: linear-gradient(to right,red,tomato);
	} 

    


section{
    /* height: 400px; */
    /* padding-bottom: 90px; */
    display: flex;
    padding: 5%;
}
.sec2{
    background-image: url('images/Frame58.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed;*/
}

.top-banner{
    background-image: url('images/Frame 57.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
}
.name-highlight{
    color: orange;
}
.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 8px;
    color: wheat;
    font-weight: 700;
}
.half-width{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 5%;
}
.cards{
    display: flex;
   
}
.card{
    width: 480px;
    padding: 15px 15px 15px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(85, 79, 79, 0.774);
    margin-right: 9%;
      }

.item{
    height: 300px;
    width: 350px;
    
}


/* social section
} */
.sec4{
   /* padding-left: 15%; */
  
   
}
.largeCard{
    display: flex;
    border-radius: 25px;
   box-shadow: 0 0 20px rgba(85, 79, 79, 0.774);
   justify-content: space-evenly;
   width: 80%;
margin-left: 9%;
 padding: 3% 3%;
}

.social{
    margin-right: 5%;
    width: 30%;
    text-align: center;
}

footer{
    background-color: black;
}
.fot-txt{
    color: darkgray;
}